<footer>
    <div class="social-media">
        <a href="https://www.instagram.com/">
            <img src="/images/instagram-logo.png" alt="Instagram">
        </a>
        <a href="https://twitter.com/">
            <img src="/images/twitter-logo.png" alt="Twitter">
        </a>
        <a href="https://www.tiktok.com/">
            <img src="/images/tiktok-logo.png" alt="TikTok">
        </a>
        <a href="https://www.linkedin.com/">
            <img src="/images/linkedin-logo.png" alt="LinkedIn">
        </a>
    </div>
    <p>&copy; 2023 Angelica Erazo. All rights reserved.</p>
</footer>
