<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css"> 
    <title>About Us</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <main>
        <section class="container">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor urna id odio eleifend, vitae commodo massa sodales.</p>
            <p>Here, you can provide more details about your organization, its mission, history, and any other relevant information.</p>
            <img src="https://static.wixstatic.com/media/6c93d6_e37477f97b5a4d2b915f4fb2c4570ea7~mv2.jpg/v1/fill/w_640,h_640,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/6c93d6_e37477f97b5a4d2b915f4fb2c4570ea7~mv2.jpg" alt="Image on About Page">
        </section>
    </main>
</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</html>
