<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css"> 
    <title>About Us</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <main>
        <section class="container">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor urna id odio eleifend, vitae commodo massa sodales.</p>
            <p>Here, you can provide more details about your organization, its mission, history, and any other relevant information.</p>
        </section>
    </main>
</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</html>
