<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <main class="support">
        <!-- REFUND POLICY SECTION -->
        <section class="support-section">
            <h2>MITRE ATT&CK FRAMEWORK</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum diam id libero auctor, non tincidunt quam varius.</p>
        </section>
        <!-- QUALITY ASSURANCE SECTION -->
        <section class="support-section">
            <h2>HOW TO USE THE TOOL</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum diam id libero auctor, non tincidunt quam varius.</p>
        </section>
        <!-- EQUIPMENT SPECS SECTION -->
        <section class="support-section">
            <h2>SECURITY FRAMEWORKS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum diam id libero auctor, non tincidunt quam varius.</p>
        </section>
    </main>
</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</html>
