<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/support.css">
    <title>SECURITY CONTROL MAPPING TOOL</title>
    <%- include('partials/nav.ejs') %>
</head>
<body>
    <main class="support">
        <!-- REFUND POLICY SECTION -->
        <section class="support-section">
            <h2>MITRE ATT&CK FRAMEWORK</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum diam id libero auctor, non tincidunt quam varius.</p>
        </section>
        <!-- QUALITY ASSURANCE SECTION -->
        <section class="support-section">
            <h2>HOW TO USE THE TOOL</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum diam id libero auctor, non tincidunt quam varius.</p>
        </section>
        <!-- EQUIPMENT SPECS SECTION -->
        <section class="support-section">
            <h2>SECURITY FRAMEWORKS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum diam id libero auctor, non tincidunt quam varius.</p>
        </section>
        <section class="support-section">
            <h2>SECURITY FRAMEWORKS 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum diam id libero auctor, non tincidunt quam varius.</p>
        </section>
        <section class="support-section">
            <h2>SECURITY FRAMEWORKS 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum diam id libero auctor, non tincidunt quam varius.</p>
        </section>
    </main>
</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</html>
