body {
    font-family: Arial, sans-serif;
    background-color: #e2ebf4;
    margin: 0;
    padding: 0;
    line-height: 1.5; 
}

h1 {
    background-color: #3a5d7d;
    color: white; 
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e2ebf4;
     /* BORDER AROUND THE TABLE */
    border: 20px solid #3a5d7d;
}


th {
    background-color: #3a5d7d;
    color: #e2ebf4;
    padding: 10px;
    text-align: left;
}

/* ALTERNATE ROW BACKGROUND COLOR */
tr:nth-child(even) {
    background-color: #d0e3f0;
}


/* CREATE BUTTON */
.new-button {
    background-color: #f1614a;
    color: #e2ebf4;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.new-button a {
    color: #e2ebf4;
    text-decoration: none;
}

.new-button:hover {
    background-color: #1e2e3c;
}

/* STRONG TAGS CSS */
p strong {
    font-weight: bold; 
    color: #3a5d7d; 
}

/* CONTROL DETAILS BUTTON */
.button-group {
    text-align: center;
    margin-top: 20px; 
}

.action-button {
    background-color: #f1614a;
    color: #e2ebf4;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px; /* MARGIN B/W BUTTONS */
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block; /* SPACE B/W BUTTONS STACK ONTOP OF EACH OTHER */
}

/* WHEN HOVERING OVER, CHANGE COLOR */
.action-button:hover {
    background-color: #1e2e3c;
}

/* NEW FORM CONTAINER */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* FORM LABEL STYLES */
label {
    display: block;       
    margin-bottom: 30px;  
    font-weight: bold;    
}

/* FORM INPUT */
input[type="text"],
textarea,
select {
    width: 100%;         
    padding: 10px;         
    margin-bottom: 20px; 
    border-radius: 5px;    
    font-size: 15px;      
}

/* FORM BUTTON */
button[type="submit"] {
    background-color: #f1614a;
    color: #e2ebf4;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px; /* MARGIN B/W BUTTONS */
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block; /* SPACE B/W BUTTONS STACK ONTOP OF EACH OTHER */
}
