<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Control</title>
    <link rel="stylesheet" type="text/css" href="/css/controls.css">
</head>
<body>
    <header>
        <h1>Create New Control</h1>
    </header>
    <main>
        <!-- NEW FORM -->
        <form action="/controls" method="POST">
            <label for="controlIdentifier">Control Identifier:</label>
            <input type="text" id="controlIdentifier" name="controlIdentifier" required>
            <label for="controlName">Control Name:</label>
            <input type="text" id="controlName" name="controlName" required>
            <label for="controlText">Control Text:</label>
            <textarea id="controlText" name="controlText" rows="4" cols="50" required></textarea>
            <label for="discussion">Discussion:</label>
            <textarea id="discussion" name="discussion" rows="4" cols="50" required></textarea>
            <label for="relatedControls">Related Controls:</label>
            <input type="text" id="relatedControls" name="relatedControls">
            <label for="securityType">Security Type:</label>
            <select id="securityType" name="securityType">
                <option value="Administrative Control">Administrative Control</option>
                <option value="Physical Control">Physical Control</option>
                <option value="Technical Control">Technical Control</option>
            </select>
            <label for="controlFramework">Control Framework:</label>
            <select id="controlFramework" name="controlFramework">
                <option value="PCI DSS">PCI DSS</option>
                <option value="ISO 27001">ISO 27001</option>
                <option value="NIST SP 800-53">NIST SP 800-53</option>
                <option value="HIPAA">HIPAA</option>
                <option value="CIS Controls">CIS Controls</option>
                <option value="Other">Other</option>
            </select>
            <label for="implementation">Implementation:</label>
            <select id="implementation" name="implementation">
                <option value="Not Implemented">Not Implemented</option>
                <option value="Fully Implemented">Fully Implemented</option>
                <option value="Partially Implemented">Partially Implemented</option>
                <option value="On the Roadmap">On the Roadmap</option>
            </select>
            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes" rows="4" cols="50"></textarea>
            <button type="submit">Create Control</button>
        </form>
    </main>
    <!-- FOOTER FOR BACK TO CONTROLS-->
    <footer>
        <a class="action-button" href="/controls">Back to Controls</a>
    </footer>
</body>
</html>
